page-home {

    ion-card {
        position: relative;
        text-align: center;
    }

    .card-title {
        position: absolute;
        top: 70%;
        font-size: 1.4em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        background-color: #0f0f0f;
        opacity: 0.8;
      }
}
