// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background {
    background-color: #EF021C;
}

.toolbar-title, .back-button {
    color: #ffffff;
}

ion-icon {
    &[class*="custom-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 0.8em;
        height: 0.8em;
    }

    &[class*="custom-earth"] {
    mask-image: url(../assets/icon/earth.svg);
    }

    &[class*="custom-seni"] {
    mask-image: url(../assets/icon/seni.svg);
    }

    &[class*="custom-malaysia"] {
    mask-image: url(../assets/icon/malaysia.svg);
    }

    &[class*="custom-share"] {
    mask-image: url(../assets/icon/share.svg);
    width: 1em !important;
    height: 1em !important;
    }
}
.menu-title {
    margin-top: 20px;
    margin-left: 0%;
    margin-bottom: 5px;
    padding-left: 17px;
    color: #9E9E9E;
}

.menu-icon {
    margin-right: 2em !important;
    width: 1.4em;
}

.menu-content {
    border-bottom: 0.5px solid #e5e5e5;
}

.background {
    background-color: #f4f4f4;
}
.details {
    display: flex;
    flex-direction: row;
    
    .details-date {
        flex: 11;
        padding-left: 20px;
    }

    .details-icon {
        flex: 1;
        text-align: right;
        min-width: 36px;
        padding: 5px, 5px, 5px, 5px;
    }

    .imgIcon {
        flex: 1;
        text-align: right;
        padding: 5px, 5px, 5px, 5px;
    }
}

.details-box {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.feed-title {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.feed {
    margin-bottom: 1em;
    background-color: #ffffff;
}

.feed-image {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

.content-title {
    padding-left: 16px;
    padding-right: 16px;
}

.content-description {
    padding-left: 16px;
    padding-right: 16px;
}

ion-modal {
    background-color: rgba(0, 0, 0, 0.5);
    ion-content.content{
        top: 20%;
        left: 10%;
        width: 80%;
        height: 51%;
        border-radius: 10px;
        .scroll-content {
            border-radius: 20px;
        }
    }
}

