page-preference {
    .pref-content {
        padding-top: 5%;
        padding-left: 10px;
    }

    .backButton {
        margin: 0 6px;
        min-width: 36px;
    }

    label, .label-md {
         color: #000;
    }

    .pref-title {
        margin-left: 16px;
        color: #919191;
    }
}
