page-read-galeri {
    .caption {
        padding: 10px;
        font-size: 15px;
        color: #ffffff;
    }

    .toolbar-background, .toolbar-background-ios, ion-slides{
        background-color: #0f0f0f !important;
    }

    .toolbar-title, .toolbar-title-ios ion-title {
        color: #ffffff;
    }

  }
